html {
    font-family: Verdana;
}

body {
    background-image: url('../images/paw-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#nav-horas {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

#nav-settings {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

#nav-home {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

#nav-plot
{
    text-align: center;
    padding-left:15px;
    padding-right:15px;
}

.nav-item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap:flex;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
}

.nav-item a {
    color: cadetblue;
    text-decoration: none;
}

.nav-item a:hover {
    color: cadetblue;
    font-weight: bold;
}

#nav-money-hoje {
    background-color: white;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-money-total {
    background-color: white;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-money {
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
}

.active {
    color: cadetblue;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: white;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}

#TimeContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
}

#gameTime {
    padding: 20px;
}

#zona_jogo {
    background-color: white;
    border: 1px solid black;
    padding-top: 20px;
}

#zona_beforejogo
{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 1px solid black;
    padding-top: 20px;
}

#main_zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.zone_button
{
    border:none;
    margin-right: 8px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 10px 13px;
    display: inline-block;
    background-color: teal;
    color:white;
}

.zone_button:hover
{
    font-weight: bold;
}

.food_buttons
{
    border:none;
    padding: 10px 13px;
    background-color: teal;
    margin-left:10px;
    margin-right: 10px;
    margin-top:10px;
    color: white;
}

.food_buttons:hover
{
    font-weight: bold;
}

.animal_buttons
{
    border:none;
    padding:10px 13px;
    background-color: teal;
    margin-right:10px;
    margin-top:10px;
    color:white;
}

.animal_buttons:hover
{
    font-weight:bold;
}

.table_buttons
{
    border:none;
    padding:10px 13px;
    background-color: teal;
    margin-left:5px;
    color:white;
}

.table_buttons:hover
{
    font-weight:bold;
}

#zona_balcao {
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#zona_balcao button {
    border:none;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
}

#zona_balcao button img {
    vertical-align: middle;
    height: 170px;
    width: 170px;
}

.animal_zone {
    padding: 20px;
}

.PetImage {
    width: 30%;
    height: 30%;
}

.barhunger_container
{
    height:24px;
    width:300px;
    margin-bottom:30px;
    background-color: gray;
}

#hungerbar_Cao, #hungerbar_Gato, #hungerbar_Passaro
{
    height:24px;
    width:300px;
}

#zona_alimentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.alimentation_zone {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
    padding-bottom:20px;
}

.foodimg_container {
    width: 23%;
    height: 23%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    margin-bottom: -100px;
    padding: 5px;
}

.food_shelf {
    display: block;
    z-index: 9;
    content: url("https://i.imgur.com/1QepZRl.png");
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.quantfood_container
{
    margin-top:-50px;
}

#zona_pedidos {
    display: flex;
    flex-direction: row;
}

.pedido_container {
    height: 45%;
    width: 35%;
    margin-left: 5px;
    margin-bottom: 10px;
}

#zona_pedidos img {
    width: 50%;
    height: 50%;
}

.pedido_container div {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#tosquias_container {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

#banhos_container {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

#passeios_container
{
    padding-left:20px;
    margin-bottom:20px;
}

.no_border
{
    border: none;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    vertical-align: center;
}

table tr th {
    border: 1px solid black;
    padding-left:8px;
    padding-right:8px;
    background-color: black;
    color:white;
}

table tr td {
    border: 1px solid black;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}

@media screen and (min-width:500px) {
    .nav-item {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-money
    {
        display: flex;
        flex-wrap: wrap;
        margin-top:10px;
        margin-right:0px;
        padding-left:20px;
    }

    #nav-money-hoje {
        padding-left: 20px;
        padding-right: 20px;
        margin-top:-10px;
    }

    #nav-money-total {
        padding-left: 20px;
        padding-right: 20px;
        margin-top:-10px;
    }
}

@media screen and (min-width:768px) {
    .nav-item {
        font-size: medium;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    #nav-horas {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav-settings {
        padding-left: 30px;
        padding-right: 30px;
    }

    #nav-home {
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-money {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #nav-money-hoje {
        font-size: medium;
        background-color: white;
        border: 1px solid black;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-top:0px;
    }

    #nav-money-total {
        background-color: white;
        border: 1px solid black;
        padding-left: 30px;
        padding-right: 30px;
        margin-top:0px;
    }

    #cabecalho {
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    #zona_pedidos img {
        width: 75%;
        height: 75%;
    }

    .pedido_container {
        height: 50%;
        width: 15%;
    }
}

@media screen and (min-width:1024px) {
    .nav-item {
        font-size: medium;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 40px;
    }

    #nav-horas {
        padding-left: 30px;
        padding-right: 30px;
    }

    #nav-settings {
        padding-left: 30px;
        padding-right: 30px;
    }

    #nav-home {
        padding-left: 30px;
        padding-right: 30px;
    }

    #nav-plot
    {
        padding-left:30px;
        padding-right:30px;
    }

    .nav-money {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #nav-money-hoje {
        font-size: medium;
        background-color: white;
        border: 1px solid black;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
    }

    #nav-money-total {
        background-color: white;
        border: 1px solid black;
        padding-left: 40px;
        padding-right: 40px;
    }

    #cabecalho {
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    .alimentation_zone {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .foodimg_container {
        width: 25%;
        height: 25%;
        margin-bottom: -110px;
    }

    .food_shelf {
        width: 600px;
        height: 240px;
    }

    table tr th {
        padding-left:10px;
        padding-right:10px;
        padding-top:15px;
        padding-bottom:15px;
    }
    
    table tr td {
        padding-top:10px;
        padding-bottom:10px;
        padding-left:15px;
        padding-right:15px;
    }

    #zona_pedidos img {
        width: 50%;
        height: 50%;
    }

    .pedido_container {
        height: 40%;
        width: 15%;
    }
}

