html {
    font-family: Verdana;
}

body {
    background-image: url('../images/paw-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.nav-item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
    color: black;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
    border: 1px solid black;
}

.nav-item a {
    color: cadetblue;
    text-decoration: none;
}

.nav-item a:hover {
    color: cadetblue;
    font-weight: bold;
}

.nav-money-hoje {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left:10px;
    padding-right:10px;
    margin-left: 10px;
    margin-right:4px;
}

.nav-money {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left:10px;    
    padding-right:10px;
}

.active {
    color: cadetblue;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: white;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}


#TimeContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
}

#gameTime
{
    padding: 20px;
}

#zona_jogo {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-top:20px;
}

#main_zone
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#main_zone button
{
    margin-right: 8px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 10px 13px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

#zona_balcao {
    margin-left:15px;
    margin-bottom: 15px;
    text-align: center;
}

#zona_balcao button {
    height: 200px;
    width: 200px;
}

#zona_balcao button img {
    vertical-align: middle;
    height: 170px;
    width: 170px;
}

/* #zona_alimentacao {
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    width: 450px;
}  */

#zona_animais {
    display: flex;
    justify-content: flex-end;
}

#zona_pedidos {
    border:1px solid black;
    display: flex;
    flex-direction: column;
}

#zona_pedidos button img
{
    width: 20%;
    height: 20%;
}

@media screen and (min-width:576px) {
    .nav-item {
        font-size: medium;
        padding-left: 40px;
        padding-right: 40px;
        margin: 10px;
    }

    .nav-money-hoje {
        font-size: medium;
        background-color: white;
        border: 1px solid black;
        padding-left: 30px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-money {
        background-color: white;
        border: 1px solid black;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #cabecalho
    {
        margin-bottom: 30px;
    }

}
#dog_image,#cat_image,#bird_image{
        
    width: 20%;
    height: 20%;
    
}