html {
    font-family: Verdana;
}

body {
    background-image: url('../images/paw-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    text-align: center;
    color: white;
}

img {
    display: flex;
    align-self: center;
    height: 275px;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item {
    text-align: center;
    background-color: white;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid black;
}

.nav-item a {
    color: cadetblue;
    text-decoration: none;
}

.nav-item a:hover {
    color: cadetblue;
    font-weight: bold;
}

.active {
    color: cadetblue;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#image-container {
    border: 1px solid black;
}

#container {
    background: #81D8D0;
    border: 2px solid black;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.inputdiv {
    border: 1px solid black;
}

#username-container, #password-container {
    border-top: 1px solid black;
    border-right: none;
    border-left: none;
}

.button-div {    
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-bottom:none;
}

#btn_login,
#btn_change {
    border: none;
    padding: 12px 28px;
    display: inline-block;
    font-weight: bold;
    background-color: #04AA6D;
    color: white;
}

footer p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
}

@media screen and (min-width: 576px) {
    #container {
        border: 1px solid black;
        padding: 10px;
        width: 700px;
        display: flex;
        flex-direction: row;
    }

    #image-container {
        width: 55%;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        border: 1px solid black;
        margin-right: 20px;
    }   

    .inputdiv {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
    }

    #username-container, #password-container {
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
 
    #button-div {
        display: flex;
        justify-self: flex-start;
        border-top:none;
    }

    form div p {
        font-size: large;
    }

    #txt_nome,
    #txt_pass {
        width: 195px;
    }

    #btn_login
    {
        padding: 20px 110px;
        margin-top: -17px;
        margin-bottom: -34px;
    }

    #btn_change
    {
        padding:20px 110px;
        margin-top:-20px;
        margin-bottom:-22px;
    }

    #btn_login,
    #btn_change {
        font-weight: bold;
        background-color: #04AA6D;
        color: white;
    }

    .nav-item {
        padding-left: 80px;
        padding-right: 80px;
        margin: 10px;
    }
}